.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #c2f2bd !important;
  background-color: transparent !important;
}

.ant-menu-item:hover {
  color: #fff !important;
}

.ant-menu-item-selected {
  color: #c2f2bd !important;
  background-color: transparent !important;
}

.ant-tabs-tab-btn {
  color: #0d7c84 !important;
}

.ant-tabs-ink-bar {
  background: #0d7c84 !important;
}

.ant-tabs-tab-disabled .ant-tabs-tab-btn {
  color: #b4b2b2 !important;
}
